
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Medium.eot');
    src: url('../font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Medium.woff2') format('woff2'),
        url('../font/Gilroy-Medium.woff') format('woff'),
        url('../font/Gilroy-Medium.ttf') format('truetype'),
        url('../font/Gilroy-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
$myFont: Gilroy;
$myFontSize: 14pt;
