@font-face {
  font-family: 'Gilroy';
  src: url("../font/Gilroy-Medium.eot");
  src: url("../font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Medium.woff2") format("woff2"), url("../font/Gilroy-Medium.woff") format("woff"), url("../font/Gilroy-Medium.ttf") format("truetype"), url("../font/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@media (min-width: 768px) {
  .logo-navnar {
    display: none;
  }
}

@media (max-width: 1200px) {
  .icon-1 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .all, .bottom-header {
    display: none;
  }
}

@media (max-width: 768px) {
  .top-header {
    display: none;
  }
}

.all, .top-section a, .top-section a:hover {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.top-section a {
  margin-right: 20px;
}

.all, .all:focus, .all:hover {
  padding-right: 95px;
  padding-top: 5px;
  background-color: #ffc107;
  border: none;
  outline: none;
  color: #000;
}

/* end nav */
.product-model {
  margin-top: 30px;
}

.text-1 {
  font-size: 14px;
  color: #b0b0b0;
}

.text-2 {
  font-size: 18px;
  color: #353535;
}

.product-1 {
  position: relative;
  overflow: hidden;
}

.block-2 {
  position: absolute;
  top: 15px;
  right: 5px;
}

.block-2 button {
  font-size: 12px;
  background-color: #fff;
  color: #000;
  border: 2px solid #ef3636;
  border-radius: 5px;
  padding: 3px 13px;
}

.bgr {
  width: 100%;
  height: 600px;
}

.slider {
  position: relative;
}

.block-3 {
  text-align: center;
  position: absolute;
  top: 35%;
  right: 8%;
}

.text-3 {
  padding-bottom: 25px;
  font-size: 18px;
  color: #fff;
}

.text-4 {
  padding: 25px 0;
  font-size: 24px;
  color: #fff;
}

.text-4 span {
  color: #fed700;
}

.block-3 button {
  background-color: #fff;
  font-size: 14px;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 22px 35px;
  outline: none;
}

/* end slide  */
.security i {
  color: #fed700;
  font-size: 59px;
}

.security h3 {
  font-size: 16px;
  color: #353535;
  padding: 20px 0;
}

.security p {
  font-size: 14px;
  line-height: 18px;
  color: #626262;
}

.security {
  text-align: center;
}

/* end security */
.main {
  background-color: #f6f6f6;
}

.product-2 h3 {
  color: #000;
  font-size: 30px;
}

.btn-2, .btn-3, .btn-special {
  border: none;
  outline: none;
  display: block;
}

.btn-2 {
  padding: 20px 0;
  font-size: 16px;
  width: 100%;
  color: #000;
  background-color: #fff;
}

.btn-3 {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  background-color: #252525;
}

.btn-special {
  font-size: 16px;
  width: 100%;
  padding: 10px 0;
  background-color: #fed700;
  color: #000;
}

.product-3 {
  position: relative;
  width: 280px;
  height: 260px;
  margin: 0 5px;
}

.block-4 {
  position: absolute;
  width: 220px;
  bottom: 13px;
  right: 30px;
}

.block-5 {
  text-align: center;
  position: relative;
  background-color: #fff;
  border: 1px solid #eee;
}

.block-5 img {
  height: 200px;
}

.text-5 {
  font-size: 12px;
  color: #c4c4c4;
  padding-top: 15px;
}

.text-6 {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.text-7 {
  font-size: 16px;
  color: #fed700;
  font-weight: bold;
  padding-bottom: 35px;
}

.text-7 span {
  text-decoration: line-through;
  color: #000;
  padding-left: 5px;
}

.block-5 button {
  background-color: #252525;
  width: 100%;
  padding: 13px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  display: none;
}

.block-5 button:hover, .block-5 button:hover {
  display: inline-block;
}

.special-1 {
  position: absolute;
  top: 15px;
  left: 15px;
}

.new {
  background-color: #111d36;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 8px;
}

.sale {
  background-color: #ef3636;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
}

/* banner */
.baner-1 {
  background-image: url("../image/baner2.png");
  margin-top: 100px;
  background-repeat: no-repeat;
  margin-right: 1px;
  height: 320px;
}

.baner-2 {
  margin-top: 100px;
  margin-left: 1px;
  background-image: url("../image/baner4.png");
  background-repeat: no-repeat;
  height: 320px;
}

.block-6 {
  position: relative;
}

.content-1 {
  position: absolute;
  top: 65px;
  left: 240px;
}

.block-7 {
  position: relative;
}

.content-2 {
  position: absolute;
  right: 0;
  top: 55px;
}

.baner-1, .baner-2 {
  position: relative;
}

.content-3 {
  position: absolute;
  top: 60px;
  left: 80px;
}

.item-1 {
  background: #fed700;
  color: #000;
  font-size: 12px;
  padding: 7px 9px;
  border-radius: 5px;
  font-weight: bold;
}

.item-2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: #fdffbe;
  padding: 7px 9px;
  border-radius: 5px;
}

.content-3 h3 {
  color: #fff;
  font-size: 30px;
  font-weight: lighter;
}

.content-3 h3 span {
  font-weight: bold;
}

.content-3 p {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.text-8 {
  color: #fed700;
}

.text-9 {
  color: #fdffbe;
}

.content-3 button {
  font-size: 14px;
  font-weight: bold;
  background: #fff;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
}

.big-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-block a {
  color: #000;
}

.col {
  border: 1px solid #ececec;
  text-align: center;
}

.text-10 {
  color: #b0b0b0;
  font-size: 14px;
  padding-top: 28px;
}

.col img {
  height: 288px;
}

.col h5 {
  font-weight: bold;
  font-size: 14px;
}

.text-11 {
  font-weight: bold;
  color: #fed700;
  font-size: 16px;
}

.content-4 {
  font-size: 14px;
  display: inline-block;
}

.text-13 {
  font-weight: bold;
  color: #fed700;
  font-size: 14px;
}

.small-block {
  background-color: #fff;
  border: 1px solid  #ececec;
}

.last-main {
  text-align: center;
}

.owl-3 {
  margin-bottom: 90px;
}

.text-14 {
  font-size: 30px;
  font-weight: bold;
}

.text-15 {
  color: #b0b0b0;
  font-size: 14px;
}

.text-16 {
  padding-top: 30px;
  color: #fed700;
  font-size: 14px;
}

.text-17 {
  font-size: 16px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-4 {
  width: 340px;
  height: 150px;
  background-color: #fff;
}

.btn-5 {
  width: 340px;
  height: 50px;
  background-color: #252525;
  color: #fff;
}

.btn-5 span {
  color: #b0b0b0;
}

.block-8 {
  position: relative;
  padding-bottom: 50px;
}

.block-9 {
  position: absolute;
  bottom: 0;
  left: 5%;
}
/*# sourceMappingURL=section.css.map */