@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Medium.eot");
  src: url("../font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Medium.woff2") format("woff2"), url("../font/Gilroy-Medium.woff") format("woff"), url("../font/Gilroy-Medium.ttf") format("truetype"), url("../font/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.top-header {
  font-size: 0.875rem;
  line-height: 39px;
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
}

.sign-in, .sign-in:hover {
  text-decoration: none;
  color: #fed700;
}

.change {
  background-color: #fff;
  color: #626262;
  border: none;
}

.icon-england {
  padding-right: 8px;
  font-size: 0.875rem;
}

#money {
  background-color: #fff;
  color: #626262;
  border: none;
  outline: none;
  display: inline-block;
}

.vertical {
  background-color: #dedede;
  width: 1px;
  height: 16px;
  margin: 13px 19px;
  display: inline-block;
}

.bottom-header {
  border-top: 1px solid #ebebeb;
  padding: 25px 0;
}

.block-01 {
  display: flex;
  justify-content: space-between;
}

.form-1 {
  border: 2px solid #e6e6e6;
  width: 630px;
  border-radius: 5px;
}

.search {
  background-color: #fed700;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  height: 34px;
  width: 97px;
  margin: 6px;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-family: "Poppins", sans-serif;
}

.search:focus {
  outline: none;
}

.fa-search {
  color: #fed700;
  font-size: 1.125rem;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.form-control-plaintext {
  padding: 0 162px;
  outline: none;
}

.icon-1 {
  font-size: 1.5rem;
}

.icon-1 p {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  line-height: 36px;
  color: #000;
}

.icon-1 i {
  padding-left: 22px;
  position: relative;
  color: #333;
}

.icon-1 i span {
  padding: 5px;
  font-size: 0.75rem;
  color: #fff;
  background-color: #ef3636;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -5px;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Medium.eot");
  src: url("../font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Medium.woff2") format("woff2"), url("../font/Gilroy-Medium.woff") format("woff"), url("../font/Gilroy-Medium.ttf") format("truetype"), url("../font/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@media (min-width: 769px) {
  .logo-navnar {
    display: none;
  }
}
@media (max-width: 992px) {
  .block-6, .block-7 {
    padding: 0;
  }
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}
@media (max-width: 1030px) {
  .icon-1 {
    display: none;
  }
}
@media (max-width: 840px) {
  .form-1 {
    display: none;
  }
}
@media (max-width: 768px) {
  .top-header, .bottom-header {
    display: none;
  }

  .top-section {
    width: inherit;
    margin: 0;
    justify-content: space-around;
  }

  .block-3 {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
.navbar {
  padding: 0;
  height: auto;
  background-color: #fed700 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.all, .top-section a, .top-section a:hover {
  font-size: 1rem;
  color: #000;
  font-weight: bold;
}

.top-section a {
  margin-right: 20px;
}

.all, .all:focus, .all:hover {
  height: 60px;
  width: 300px;
  display: flex;
  justify-content: start;
  background-color: #eac600;
  border: none;
  outline: none;
  align-items: center;
}

.fa-bars {
  margin-left: 21px;
  margin-right: 7px;
}

/* end nav */
.product-model {
  margin-top: 30px;
}

.text-1 {
  font-size: 0.875rem;
  color: #b0b0b0;
  line-height: 1.5rem;
}

.text-2 {
  font-size: 1.125rem;
  color: #353535;
  font-weight: bold;
}

.product-0, .product-001, .product-01, .product-1 {
  position: relative;
  width: 428px;
  height: 138px;
  background-repeat: no-repeat;
  border: 1px solid #bebebe;
}

.product-1 {
  background-image: url(../image/product1.jpg);
}

.product-01 {
  background-image: url(../image/product2.jpg);
}

.product-001 {
  background-image: url(../image/product3.jpg);
}

.block-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  align-items: center;
}

.block-2 button {
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #fff;
  color: #000;
  border: 2px solid #ef3636;
  border-radius: 5px;
  padding: 6px 10px;
}

.bgr {
  width: 100%;
  height: 600px;
}

.slider {
  position: relative;
}

.block-3 {
  text-align: center;
  position: absolute;
  top: 35%;
  right: 8%;
}

.text-3 {
  padding-bottom: 25px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
}

.text-4 {
  padding: 25px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.text-4 span {
  color: #fed700;
}

.block-3 button {
  background-color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 20px 35px;
  outline: none;
}

/* end slide  */
.security i {
  color: #fed700;
  font-size: 59px;
}

.security h3 {
  color: #353535;
  padding-top: 20px;
  font-weight: bold;
  font-size: 1rem;
}

.security p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #626262;
}

.security {
  text-align: center;
}

.icon-special {
  margin-top: 56px;
  position: relative;
  display: inline-block;
  padding: 23px;
  border: 2px solid #fed700;
  border-radius: 50%;
}

/* end security */
.main {
  background-color: #f6f6f6;
}

.h3-tag, .special-block h3, .big-block h3, .slide-2 h3, .slide-1 h3 {
  font-weight: bold;
  color: #000;
  font-size: 1.875rem;
}

.slide-1 h3 {
  margin-top: 67px;
  margin-bottom: 37px;
}

.btn-2, .btn-3, .btn-special {
  border: none;
  outline: none;
  display: block;
}

.btn-2 {
  padding: 20px 0;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  color: #000;
  background-color: #fff;
  height: 60px;
}

.btn-3 {
  width: 100%;
  padding: 6px 0;
  font-size: 0.875rem;
  color: #fff;
  background-color: #252525;
  height: 40px;
}

.btn-special {
  font-size: 0.875rem;
  width: 100%;
  padding: 6px 0;
  background-color: #fed700;
  color: #000;
  height: 40px;
}

.product-3 {
  position: relative;
  width: 300px;
  height: 260px;
}

.product-3 img {
  width: 100%;
  height: 220px;
}

.block-4 {
  position: absolute;
  width: 220px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slide-2 h3 {
  margin-top: 68px;
  margin-bottom: 33px;
}

.block-5 {
  height: 435px;
  text-align: center;
  position: relative;
  background-color: #fff;
  border: 1px solid #eee;
}

.img-product {
  height: 200px;
  width: 119px !important;
  margin-top: 27px;
  display: inline-block !important;
}

.star-0 {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.star {
  width: auto !important;
}

.text-5 {
  font-size: 0.75rem;
  color: #c4c4c4;
}

.text-6 {
  font-size: 0.875rem;
  color: #000;
  font-weight: bold;
  padding: 10px 0;
}

.text-7 {
  font-size: 1rem;
  color: #fed700;
  font-weight: bold;
}

.text-7 span {
  text-decoration: line-through;
  color: #000;
  padding-left: 5px;
}

.toggle-btn {
  background-color: #252525;
  width: 100%;
  height: 42px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: 5px;
  display: none;
  outline: none;
}

.block-5:hover .toggle-btn {
  display: block;
}
.block-5:hover .toggle {
  display: block;
}

.block-5 button:hover, .block-5 button:hover {
  display: inline-block;
}

.special-1 {
  position: absolute;
  top: 28px;
  left: 27px;
}

.hide-0 {
  color: #333;
}

.hide-0, .hide-00 {
  width: 48px;
  height: 48px;
  justify-content: center;
  display: inline-flex;
  border: 1px solid #000;
  align-items: center;
}

.hide-00 {
  color: #fff;
  background-color: #000;
}

.hide-show {
  display: flex;
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
}

.toggle {
  display: none;
}

.new {
  background-color: #111d36;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 8px;
}

.sale {
  background-color: #ef3636;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
}

/* banner */
.content-1 {
  position: absolute;
  top: -33px;
  right: 41px;
}

.content-2 {
  position: absolute;
  right: 0;
  top: 55px;
}

.baner {
  margin-top: 53px !important;
}
.baner .block-6 {
  position: relative;
  padding-right: 15px;
}
.baner .block-6 .content-3 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.baner .block-7 {
  padding-left: 15px;
  position: relative;
}
.baner .block-7 img {
  margin-top: 33px;
}
.baner .block-7 .content-3 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.item-1 {
  background: #fed700;
  color: #000;
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.item-2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: #fdffbe;
  padding: 7px 9px;
  border-radius: 5px;
}

.content-3 h3 {
  color: #fff;
  font-size: 1.875rem;
}

.content-3 h3 span {
  font-weight: bold;
}

.text-88 {
  font-size: 1.25rem;
  color: #000;
  font-weight: bold;
  text-decoration: line-through;
  padding-left: 14px;
}

.text-8 {
  color: #fed700;
  font-size: 1.25rem;
  font-weight: bold;
}

.text-9 {
  color: #fdffbe;
  font-size: 1.25rem;
  font-weight: bold;
}

.content-3 button {
  font-size: 0.875rem;
  font-weight: bold;
  background: #fff;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
}

.big-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px !important;
}

.more-product {
  margin-top: 67px !important;
}

.big-block a {
  color: #000;
  font-weight: bold;
}

.special-block h3 {
  margin-bottom: 47px;
}

.col {
  border: 1px solid #ececec;
  text-align: center;
}

.text-10 {
  color: #b0b0b0;
  font-size: 0.875rem;
  padding-top: 37px;
}

.text-12 {
  font-size: 0.875rem;
  color: #000;
  padding: 18px 0;
}

.col img {
  height: 288px;
}

.col h5 {
  font-weight: bold;
  font-size: 0.875rem;
}

.text-11 {
  font-weight: bold;
  color: #fed700;
  font-size: 1rem;
  margin-bottom: 45px;
}

.content-4 {
  font-size: 0.875rem;
  display: inline-block;
  margin-bottom: 31px;
  margin-top: 23px;
}

.img-small {
  margin-bottom: 31px;
  margin-top: 23px;
}

.text-13 {
  font-weight: bold;
  color: #fed700;
  font-size: 0.875rem;
}

.small-block {
  background-color: #fff;
  border: 1px solid #ececec;
}

.last-main {
  text-align: center;
  margin-top: 104px !important;
}

.owl-3 {
  margin-bottom: 90px;
}

.text-14 {
  font-size: 30px;
  font-weight: bold;
}

.text-15 {
  color: #b0b0b0;
  font-size: 0.875rem;
}

.text-16 {
  padding-top: 30px;
  color: #fed700;
  font-size: 0.875rem;
  line-height: 36px;
}

.text-17 {
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
}

.btn-4 {
  width: 340px;
  height: 150px;
  background-color: #fff;
}

.btn-5 {
  width: 340px;
  height: 50px;
  background-color: #252525;
  color: #fff;
  font-size: 0.875rem;
}

.btn-5 span {
  color: #b0b0b0;
}

.block-8 {
  position: relative;
  padding-bottom: 50px;
}

.block-9 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Medium.eot");
  src: url("../font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Medium.woff2") format("woff2"), url("../font/Gilroy-Medium.woff") format("woff"), url("../font/Gilroy-Medium.ttf") format("truetype"), url("../font/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.top-footer {
  margin-top: 80px;
  margin-bottom: 60px !important;
}

.content-5 a, .content-5 a:hover {
  display: block;
  text-decoration: none;
  color: #626262;
  line-height: 28px;
  font-size: 0.875rem;
}

.content-5 h4 {
  font-size: 0.875rem;
  font-weight: bold;
  color: #363636;
  padding-bottom: 35px;
  padding-top: 80px;
  text-transform: uppercase;
}

.mailto {
  display: inline-block !important;
}

.content-5 i {
  font-size: 30px;
  color: #333;
}

.content-5 p {
  font-size: 0.875rem;
  color: #626262;
  padding-bottom: 40px;
}

.mid-footer {
  display: flex;
  justify-content: space-between;
}

.mid-footer-1 i {
  font-size: 2.25rem;
  color: #333;
}

.mid-footer-1 h3 {
  font-size: 1rem;
  color: #363636;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

.mid-footer-1 {
  text-align: center;
}

.mid-footer-2 {
  font-size: 0.875rem;
  color: #626262;
}

.form-2 {
  border: 2px solid #e6e6e6;
  position: relative;
  border-radius: 5px;
}

.email {
  background-color: #fed700;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 8px 17px;
  margin: 6px;
  font-size: 0.875rem;
}

.mid-footer {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 24px 0 !important;
  margin-bottom: 37px !important;
}

.list-a a {
  font-size: 13px;
  font-weight: bold;
  color: #353535;
}

.text-18 {
  text-align: center;
  font-size: 0.875rem;
  color: #b0b0b0;
  padding-top: 30px;
  padding-bottom: 36px;
}

.bottom-footer {
  background-color: #252525;
  padding: 34px 0;
}

.end-bottom {
  display: flex;
  justify-content: space-between;
}

.bottom-footer-1 {
  font-size: 0.875rem;
  color: #b0b0b0;
}

.bottom-footer-1 span {
  color: #fed700;
}

.bottom-footer-2 {
  font-size: 20px;
  color: #fff;
}

.bottom-footer-2 i {
  padding-left: 21px;
}

@media (max-width: 768px) {
  .bottom-footer-2, .bottom-footer-3, .mid-footer-2 {
    display: none;
  }
}
@media (max-width: 981px) {
  .bottom-footer-2 {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: Gilroy;
  font-size: 16px;
}

.container {
  max-width: 1290px;
}

p {
  margin: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.col-12, .col-lg-6, .col-md-12 {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
